.list-posts {
 margin-bottom: 5rem;
 position: relative;
 width: 100vw;
}

.list-posts.not-posts {
 align-items: center;
 display: flex;
 height: 100vh;
}

.list-posts .container {
 margin: 0 auto;
 position: relative;
 width: 90%;
}

.list-posts .container h3 {
 text-align: center;
}

.list-posts .container .intro {
 position: relative;
 padding: 5rem 0;
 text-align: center;
 width: 100%;
}

.list-posts .container .intro h2,
.list-posts .container .intro p {
 margin: 0;
}

.list-posts .container .intro h2 {
 margin-bottom: 0.5rem;
}

.list-posts .container .intro p {
 color: #2563eb;
 font-size: 20px;
 font-weight: 600;
}
