.blog {
 margin-bottom: 5rem;
 position: relative;
 width: 100vw;
}

.blog.not-posts {
 align-items: center;
 display: flex;
 height: 100vh;
}

.blog .container {
 margin: 0 auto;
 position: relative;
 width: 90%;
}

.blog .container h3 {
 text-align: center;
}

.blog .container .blog-header {
 position: relative;
 padding: 5rem 0;
 text-align: center;
 width: 100%;
}

.blog .container .blog-header h2,
.blog .container .blog-header p {
 margin: 0;
}

.blog .container .blog-header h2 {
 margin-bottom: 0.5rem;
}

.blog .container .blog-header p {
 color: #2563eb;
 font-size: 20px;
 font-weight: 600;
}
