.post-edit-form {
 position: relative;
 padding: 0 1rem;
 width: 100%;
}

.post-edit-form .content-improvement {
 background-color: #f1edbe;
 border-left: 5px solid #facc15;
 color: #c27807;
 font-size: 1.1rem;
 font-weight: 500;
 margin: 2rem 0;
 position: relative;
 padding: 1rem;
}

.post-edit-form form {
 margin: 0;
}

.post-edit-form.hide {
 height: 0;
 right: -100%;
 transition: all ease-in 0.9s;
 transform: scaleX(0) scaleY(0);
}

.post-edit-form.show {
 height: auto;
 right: 0;
 transition: all ease-out 0.6s;
 transform: scaleX(1) scaleY(1);
}
