{% extends 'base.html' %}
{% load static %}

{% block title %}
  TechInsights - Dashboard
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
{% endblock %}

{% block content %}
  <section class="welcome">
    <div class="container">
      <h2>Bienvenido, {{ user.username }}</h2>
      <p>Nos alegra mucho verte de nuevo en TechInsights. Tu curiosidad y pasión por la tecnología son lo que hace que nuestra comunidad sea tan especial. Esperamos que encuentres contenido inspirador y valioso en tu visita de hoy.</p>
      <p>
        <span>¡No dudes en explorar, aprender y compartir tus ideas!</span>
      </p>
    </div>
  </section>
{% endblock %}
