{% extends 'base.html' %}

{% block title %}
  TechInsights - Dashboard
{% endblock %}

{% block content %}
  <div class="welcome">
    <div class="container">
      <h2>Bienvenido, Juan Vargas</h2>
      <p>
        Nos alegra mucho verte de nuevo en TechInsights. Tu curiosidad y pasión por la tecnología son lo que hace que nuestra comunidad sea tan especial. Esperamos que encuentres contenido inspirador y valioso en tu visita de hoy. <span>¡No dudes en explorar, aprender y compartir tus ideas!</span>
      </p>
    </div>
  </div>
{% endblock %}
